body {
  font-family: sans-serif;
  background-color: #000;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.primary-heading {
  font-size: 80px;
  letter-spacing: 0.7px;
  line-height: 1.1;
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
}

.secondary-heading {
  font-size: 40px;
  line-height: 45px;
  font-family: "Bebas Neue", sans-serif;
  padding-top: 15px;
  color: #fff;
}

.sub-title {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 25px;
  font-weight: 500;
  color: #fff;
}

.subheading {
  font-size: 28px;
  color: #999;
  line-height: 40px;
  color: #fff;
}

.footer-para {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}

.padding-left {
  padding-left: 60px;
}

.underline {
  color: #fff;
}

.mg-top {
  margin-top: 100px;
}

.btn-red,
.btn-red:visited,
.btn-red:link {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #c00;
  padding: 10px 20px;
  color: #fff;
}

.btn-red:hover,
.btn-red:active {
  background-color: #fff;
  color: #c00;
}

/* owl carousel */
.owl-prev,
.owl-next {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 53px;
}

.owl-next span {
  background-color: white;
  font-size: 53px;
  border-radius: 50%;
  padding: 10px;
}

.owl-prev span {
  background-color: white;
  font-size: 53px;
  border-radius: 50%;
  padding: 10px;
}

.owl-prev {
  left: -50px;
}

.owl-next {
  right: -50px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
  color: #000;
  text-decoration: none;
}
