@media (max-width: 2560px) {
  .main-banner-img img {
    min-width: 100%;
  }
}

/* 1024 laptop size */
@media (max-width: 1024px) {
  .main-banner-img img {
    padding-top: 45px;
  }

  .main-banner-img img {
    padding-top: 0px;
  }

  .scholar-1 {
    height: 400px;
  }

  .scholar-5 {
    height: 260px;
  }

  .btn-red,
  .btn-red:visited,
  .btn-red:link {
    font-size: 17px;
  }

  .primary-heading {
    font-size: 70px;
  }

  .secondary-heading {
    font-size: 35px;
  }

  .description {
    font-size: 16px;
    line-height: 1.4;
  }
}

/* 768px tablet size */
@media (max-width: 768px) {
  .header {
    height: 60px;
  }

  .logo {
    height: 35px;
  }

  .main-banner-img img {
    padding-top: 0px;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 20px;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* 1)  Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard  */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 25px;
  }

  .btn-mobile-nav {
    display: block;
  }

  .logos-slide img {
    height: 40px;
    width: 100px;
    margin: 0px 40px;
  }

  .section-featured {
    padding: 25px 0 25px 0;
  }

  .how {
    margin: 35px;
  }

  .owl-prev span,
  .owl-next span {
    font-size: 40px;
    border-radius: 50%;
    padding: 8px;
  }

  .scholar-1 {
    height: 290px;
  }

  .scholar-5 {
    height: 188px;
  }

  .infra-projects img {
    height: 290px;
    width: 324px;
  }

  .btn-red,
  .btn-red:visited,
  .btn-red:link {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #c00;
    padding: 11px 8px;
    color: #fff;
  }
}

/* 425px tablet size */

@media (max-width: 435px) {
  .header {
    position: inherit;
    background-color: #fff;
  }

  .main-how {
    grid-template-columns: 2fr;
  }

  .infra-projects img {
    height: 290px;
    width: 100%;
  }

  .how-img {
    max-height: 150px;
  }

  .scholar-1,
  .scholar-3,
  .scholar-4 {
    margin-bottom: 20px;
  }

  .scholar-5 {
    height: 286px;
  }

  .padding-left {
    padding-left: 17px;
  }

  .blog-card {
    margin-bottom: 34px;
  }

  .description {
    font-size: 28px;
    line-height: 1.4;
  }
}
