/******************************/
/* Navigation bar */
/******************************/

.navigation {
  height: 90px;
  position: fixed;
  width: 100%;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  z-index: 9999;
  padding: 10px 60px;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    rgba(23, 26, 38, 0.0001)
  );
}

.sticky {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
}

.nav-item {
  font-size: 18px;
  color: #000;
  letter-spacing: 0.5px;
  font-weight: 700;
}

/******************************/
/* Section-featured */
/******************************/

.section-featured {
  padding: 48px 0 48px 0;
  background-color: #fff;
}

.logos {
  overflow: hidden;
  white-space: nowrap;
}

.logos-slide {
  display: inline-block;
  animation: 30s slide infinite linear;
}

.logos-slide img {
  height: 75px;
  width: 120px;
  margin: 0px 40px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/******************************/
/* How */
/******************************/

.how-img {
  border-radius: 15px;
  max-height: 250px;
  object-fit: cover;
  min-width: 100%;
  width: 100%;
}

.comb-btn {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.main-how {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.comb-btn a {
  display: block;
  text-decoration: none;
  font-size: 1.125em;
  background: linear-gradient(180deg, #ee2c30 0, #7d141e 100%);
  color: #fff;
  padding: 7px 15px;
  border-radius: 2px;
}

.comb-icons {
  display: flex;
  margin-top: 15px;
  gap: 10px;
  margin-bottom: 15px;
}

.comb-icons a {
  height: 45px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 26px;
  border-radius: 2px;
  color: black;
  background-color: rgb(168, 168, 181);
}

/******************************/
/* scholarships push */
/******************************/

.scholarships-img-section img {
  display: block;
  width: 100%;
}

.scholar-1 {
  height: 550px;
}

.scholar-5 {
  height: 360px;
}

/* OUr locations*/
.card-section .card {
  background-color: #3c4142;
}

.card img {
  height: 150px;
  object-fit: contain;
}

/******************************/
/* push-family */
/******************************/

.push-family {
  margin-top: 80px;
}

.your-element .card-body {
  height: 148px;
}

/******************************/
/* Our Blogs */
/******************************/

.our-blogs {
  margin-top: 80px;
  margin-bottom: 50px;
}

.blog-card {
  color: #fff;
  background-color: #3c4142;
}

/******************************/
/* sharesection */
/******************************/

.shareSection {
  padding: 20px;
  background-color: #3c4142;
}

.icon {
  font-size: 30px;
  border-radius: 50%;
}

body {
  position: relative;
}

.fixed-whatapp {
  padding: 10px;
}

.social-btn {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******************************/
/* fixed whatapp icon on bottom right */
/******************************/

.whatsappBtn-fixed {
  font-size: 22px;
  background: #25ca58;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  margin: 30px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
